<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @entry.company %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @entry.job_title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @entry.url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @entry.description %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
